.flex-container-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
  }

  .flex-container-2 {
    display: flex;
    align-items: stretch;
    align-content: center;
  }